@import "tailwindcss";
@plugin "daisyui";

:root {
	--header-height: 68px;
	--main-height: calc(100dvh - var(--header-height));
}

.group-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
  will-change: transform, opacity;
  transform: translateY(0);
  backface-visibility: hidden;
}

.group-item-enter,
.group-item-exit-to {
  opacity: 0;
  transform: translateY(30px);
}

.group-item-exit-active {
  position: absolute;
  width: 100%;
  pointer-events: none;
}